<div class="box">
    <h1>Olvide mi contraseña</h1>
    <hr>
    <form class="box" method="post" action="/api/session/forgotPassword">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" required="true">
        <label for="password">Nueva contraseña</label>
        <input type="password" name="password" id="password" required="true">
        <button type="submit">Enviar</button>
    </form>
    <br>
    <span><a href="/login" target="_self">Iniciar sesión</a></span>
    <span><a href="/register" target="_self">Registrarse</a></span>
</div>