<div class="box">
    <h1>Olvide mi contraseña</h1>
    <hr>
    <form class="box" method="post" action="/api/session/getLinkForgetPassword">
        <label for="email">Ingrese su email para recuperar contraseña</label>
        <input type="email" name="email" id="email" required="true">       
        <button type="submit">Enviar</button>
    </form>
    <br>
    <span><a href="/login" target="_self">Iniciar sesión</a></span>
    <span><a href="/register" target="_self">Registrarse</a></span>
</div>