<div class="box">
    <h1>Olvide mi contrase침a</h1>
    <hr>
    <form class="box" method="post" action="/api/session/resetpassword">
        <label for="email">Email que desea reiniciar la contrase침a</label>
        <input type="email" name="email" id="email" disabled value="{{email}}">
        <input type="hidden" name="email" value="{{email}}">
        <label for="password">Ingrese la nueva contrase침a</label>
        <input type="password" name="password" id="password" required="true">
        <button type="submit">Enviar</button>
    </form>
    <br>
    <span><a href="/login" target="_self">Iniciar sesi칩n</a></span>
    <span><a href="/register" target="_self">Registrarse</a></span>
</div>